body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 10%;
}

p {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding: 3% 15% 10%;
  width: 100%;
}

/* Sections */
.colored-section {
  background-color: #01c0f7;
}

/* Nav Bar */

.navbar {
  padding-bottom: 5rem;
}

.navbar-toggler{
  filter: invert(100%);
  margin-left: 90%;
  margin-bottom: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-text {
  color: #000;
}

.navbar-image {
  height: 7rem;
  width: 7rem;
  align-self: left;
}

ul {
  list-style-type: none;
}


/* Event Page */

#eventsPage {
  text-align: center;
}

.events-heading {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card-img-top {
  border-radius: 100%;
  display: block;
  margin: 2rem auto 2rem auto;
  height: 12rem;
  width: 12rem;
}

.cardEventPage {
  height: 40rem;
  margin-top: 7%;
  /* margin: 0.25rem; */
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}

.cardEventPage:hover {
  box-shadow: 0 0 5px 0 #01c0f7;
}

/* Footer */

#footer {
  line-height: 1.5;
  padding:7% 15%;
}

.social-icons{
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

/* Media Query */
@media screen and (min-width:320px) {
 
}